---
import { Code } from "astro:components";
import type { CodeBlock } from "../../../types/content.js";

export interface Props {
	content: CodeBlock;
}

const { content } = Astro.props;
---

<div class={content.className} id={content.id}>
  {content.title && (
    <div class="bg-gray-50 px-4 py-2 text-xs text-gray-600 border border-gray-200 border-b border-gray-300 rounded-t-lg">
      {content.title}
    </div>
  )}
  <div class={`overflow-hidden border border-gray-200 ${content.title ? "rounded-b-lg border-t-0" : "rounded-lg"}`}>
    <Code
      code={content.code}
      lang={content.language}
      theme="github-light"
    />
  </div>
</div>