---
import { Code } from "astro:components";
import type { CodeBlock } from "../../../types/content.js";

export interface Props {
	content: CodeBlock;
}

const { content } = Astro.props;
---

<div class={content.className} id={content.id}>
  {content.title && (
    <div class="px-5 py-2 text-[11px] font-mono text-neutral-400 bg-neutral-800 border-b border-neutral-700">
      {content.title}
    </div>
  )}
  <div class="overflow-hidden">
    <Code
      code={content.code}
      lang={content.language}
      theme="github-dark"
    />
  </div>
</div>
